---
import Author from "../components/Author.astro";
import Canvas from "../components/Canvas.astro";
import Footer from "../components/Footer.astro";
import MainNavigation from "../components/MainNavigation.astro";
import Meta from "../components/Meta.astro";
import TextureCredits from "../components/TextureCredits.astro";
import Layout from "../layouts/Layout.astro";
---

<script>
   import { useGlslCanvas } from "../webgl/renderer";
   import vertexShader from "../webgl/shaders/vertex.glsl";
   import fragmentShader from "../webgl/shaders/planet.fragment.glsl";
   import { loadTextures } from "../webgl/loaders/texture.loader";
   import { defaultUniforms } from "../webgl/settings/uniforms";
   import type { TextureData } from "../webgl/loaders/texture.types";
   import { setupControls } from "../controls/setup";

   const textures: TextureData[] = [
      {
         path: "2k_venus.jpg",
         options: { minFilter: "linearMipmapLinear" },
      },
      {
         path: "4k_stars.jpg",
         width: 4096,
         height: 2048,
         options: { minFilter: "linearMipmapLinear" },
      },
   ];

   const [uPlanetColor, uStars] = await loadTextures(textures);

   const { uniforms, canvas } = useGlslCanvas({
      vertex: vertexShader,
      fragment: fragmentShader,
      uniforms: {
         ...defaultUniforms,
         uBumpStrength: 0.005,
         uAtmosphereColor: [0.9, 0.3, 0],
         uAtmosphereDensity: 0.1,
         uPlanetColor,
         uStars,
      },
   });

   setupControls({ canvas, uniforms });
</script>

<Layout title="Venus" description="An artistic view of Venus from space.">
   <Canvas />
   <Footer>
      <MainNavigation />
      <Meta>
         <Author />
         <TextureCredits>
            Textures from
            <a href="https://www.solarsystemscope.com/textures/">
               Solar System Scope
            </a>
         </TextureCredits>
      </Meta>
   </Footer>
</Layout>
