---
import GitHubIcon from "./GitHubIcon.astro";
---

<div class="author">
   Made by&nbsp;<a href="https://twitter.com/jsulpis">@jsulpis</a>
   <a
      href="https://github.com/jsulpis/realtime-planet-shader"
      title="see the code on GitHub"
      class="icon github"
   >
      <GitHubIcon />
   </a>
</div>

<style lang="scss">
   .author {
      font-style: italic;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   a.icon {
      display: inline-grid;
      margin: -0.65em;
      padding: 0.65em;
      place-items: center;
      border-radius: 50%;
      margin-left: 0.5em;

      &:hover,
      &:focus-visible {
         background: hsla(0, 0%, 100%, 0.1);
      }
   }
</style>
