<h1><slot /></h1>

<style lang="scss">
   h1 {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: max(5vh, calc(50% - 1em - 47vmin));
      font-size: clamp(1.375rem, 1.444vw + 0.833rem, 2.188rem);
      text-transform: uppercase;
      letter-spacing: 0.5ch;
      padding-left: 0.5ch; // optical alignment: compensate the space after the last letter because of letter spacing
      font-weight: normal;
      opacity: 0.6;
      z-index: 1;

      @media (max-width: 600px) {
         pointer-events: none; // overlap the controls panel
      }
   }
</style>
