html,
body {
   height: 100%;
}
body {
   margin: 0;
   background: rgb(0, 0, 0.002);
}
canvas {
   display: block;
   width: 100%;
   height: 100%;
   cursor: grab;
   /* avoid selecting things with long press on touch screens */
   user-select: none;
   /* prevent mobile browsers from conflicting with the pointermove event */
   touch-action: none;
   opacity: 0;
}

canvas.loaded {
   opacity: 1;
   transition: opacity 0.5s ease-out;
}

canvas.grabbing {
   cursor: grabbing;
}
